.results-container {
    max-width: 500px;
    margin: 20px auto;
    padding: 20px;
    background: white;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin-top: 5rem;
  }
  
  .results-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .px-4,
  .py-2 {
    padding: 0.5rem 1rem;
    margin-left: 70rem;
  }
  .results-form label {
    font-weight: bold;
  }
  
  .results-form input, 
  .results-form select, 
  .results-form button {
    padding: 8px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ddd;
  }
  
  .results-form button {
    background-color: #28a745;
    color: white;
    cursor: pointer;
  }
  
  .results-form button:hover {
    background-color: #218838;
  }
  
  .results-list {
    list-style: none;
    padding: 0;
  }
  
  .results-list li {
    padding: 8px;
    background: #f8f9fa;
    margin-top: 5px;
    border-radius: 5px;
  }
  